
body{
  font-family: 'Ropa Sans', sans-serif;
  background-color: #497499;
}

#main-outer{
  background-color: #2F4550;
  width: 330px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#main {
  text-align: center;
  color: #4682B4;
  font-weight: 100;
  text-transform: uppercase;
}

#root{
  width: calc(100%/1.3);
  height: 90vh;
  margin: auto;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  
}